{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>

    <style>
        .box{
            height: 450px;
            width: 700px;
            background-color: antiquewhite;
            position: absolute;
            transform: translate(-50%,-50%);
            top: 50%;
            left: 50%;
            border-radius: 10px;
            backdrop-filter: blur(10px);
            border: 2px solid rgba(255,255,255,0.1);
            box-shadow: 0 0 40px rgba(8,7,16,0.6);
            padding: 30px 30px;
            font-family: 'Courier New', Courier, monospace;
        }
        .background{
            background-image: url('https://i.ibb.co/jbnhpDf/rec.jpg'); 
            background-size: cover; 
        }
        .btn {
            background-color: aliceblue;
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
            margin-top: 5%;
            padding: 10px;
            font-weight: 600;
            cursor: pointer;
            margin-left: 4%;
            margin-right: 4%;
            border-radius: 25px;
        }
        h1 {
            background-color: #91BEDC;
            padding: 5px;
            text-align: center;
            font-size: 50px;
            color: white;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

    </style>
{% endblock meta %}

{% block content %}  
<body class="background">
<div class = "box">
    
    <h1>Register</h1>  

        <form method="POST">  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input class="btn" type="submit" name="submit" value="submit"/></td>  
                </tr>  
            </table>  
        </form>

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  
</body>

{% endblock content %}